<div class="jumbotron">
  <div class="center">
      <div class="scrim light-txt main-font">
        <h1>Meet Matt</h1>
      </div>
      <div class="center light-txt main-font scrim">
        <a href="#about"><input type="button" value="Read My Story" class="btn btn-default btn-lg clear light-txt", id="about"></a>
    </div>
  </div>
</div>

<div class="pane">
  <a name="about"></a>
  <div class="contain">
    <div class="row-fluid">
        <div class="span4">
          <h1 class="green-txt btm-pding">My Story</h1>
          <div class="float-left">
            <%= link_to(image_tag("matt.jpeg", :alt => "logo", :title => "Home", :class=>"responsive small-img", :style=>"margin-right: 50px;"), "#purchase") %>
          </div>
        </div>
      <div class="span8">
        <h3 class="light-weight">Adventurer.    Tech Geek.    Explorer  </h3>
        <p class="light-weight">
          After graduating college, I spent my time working in fields that I found to be meaningful.  Along the way, I touched many different industries - from helping companies implement sustainability strategies, to teaching English overseas, to working on the product team of an early stage startup.  Today, I’m learning full stack web development at the Turing School of Software and Design to expand the ways in which I can help startup product teams.
        </p>
      </div>
    </div>
</div>





</div>

<div class="pane white-bg float-right">
  <a name="work"></a>
  <div class="contain">
    <h1 class="med-flat-blue-txt">Work</h1>
    <h4 class="light-weight">This is who I am........</h4>
    <p class="light-weight">Hi there "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
</div>

<div class="pane float-left">
  <a name="play"></a>
  <div class="contain">
    <h1 class="green-txt">Play</h1>
    <h4 class="light-weight">This is who I am........</h4>
    <p class="light-weight">Hi there "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
</div>

<a name="contact"></a>
<div class="pane white-bg float-right">
  <a name="about"></a>
  <div class="contain">
    <h1 class="med-flat-blue-txt">Contact</h1>
    <h4 class="light-weight">This is who I am........</h4>
    <p class="light-weight">Hi there "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>
</div>

<!-- <div class="footer">
  <div class="contain">
    <div class="center">
      <p>social media shit goes here</p>
    </div>
  </div>
</div> -->
