<div class="jumbotron">
  <div class="center">
      <div class="scrim light-txt">
        <h1>Meet Matt</h1>
      </div>
      <div class="center light-txt">
        <a href="#about"><input type="button" value="Learn More" class="btn btn-default btn-lg clear light-txt", id="about"></a>
    </div>
  </div>
</div>

<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
