/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap_configuration";

@import "bootstrap-sprockets";

@import "bootstrap";

//->Prelang (ui_framework:twitter_bootstrap)

// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

// Colors

.green-bg {
  background-color: #ADC18D;
}

.lightest-blue-bg {
  background-color: #96BCD8;
}

.medium-blue-bg {
  background-color: #0C5B8A;
}

.med-flat-blue {
  background-color: #0C5B8A;
}

.dark-blue-bg {
  background-color: #0C5B8A;
}
// Fonts

.main-font {
  font-family: Oxygen;
}

.light-weight {
  font-weight: 300;
}

.med-weight {
  font-weight: 400;

}

.heavy-weight {
  font-weight: 700;

}
// Font colors

.light-txt {
   color: #FFF;
}

.dark-txt {
  color: #464646;
}

// layout

.center {
  margin: auto;
  text-align: center;
}

// buttons

.clear {
  background-color: rgba(0, 0, 0, 0);
}
