/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap_configuration";

@import "bootstrap-sprockets";

@import "bootstrap";

//->Prelang (ui_framework:twitter_bootstrap)

// Give everything in 'yield' margin to separate it.
.yield {
  margin: 30px;
}

// Constrain forms for models (scaffolded models) so they aren't full page width.
.form-model {
  max-width: 750px;
}

// Colors

.white-bg {
  background-color: #FFF;
}

.grey-bg {
  background-color: #fafafa;
}

.green-bg {
  background-color: #ADC18D;
}

.lightest-blue-bg {
  background-color: #96BCD8;
}

.medium-blue-bg {
  background-color: #0C5B8A;
}

.med-flat-blue {
  background-color: #0C5B8A;
}

.dark-blue-bg {
  background-color: #0C5B8A;
}
// Fonts

p {
  font-size: 1.8rem;
}

h1 {
  font-size: 4rem;
  line-height: 6rem;
}

h2 {
  font-size: 3rem;
  line-height: 4.5rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 3.75rem;
}

h4 {
  font-size: 2rem;
  line-height: 3rem;
}

.nav-font {
  font-size: 2.25rem;
}


.navbar-default .navbar-brand:hover {
  color: #ADC18D;
  transition: color 0.5s;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #0C5B8A;
  transition: color 0.5s;
}

.main-font {
  font-family: Oxygen;
}

.light-weight {
  font-weight: 300;
}

.med-weight {
  font-weight: 400;
}

.heavy-weight {
  font-weight: 700;

}

.alt-font {
  font-family: 'Shadows Into Light', cursive;
}
// Font colors

.light-txt {
   color: #FFF;
}

.dark-txt {
  color: #464646;
}

.green-txt {
  color: #ADC18D;
}

.lightest-blue-txt {
  color: #96BCD8;
}

.medium-blue-txt {
  color: #0C5B8A;
}

.med-flat-blue-txt {
  color: #0C5B8A;
}

.dark-blue-txt {
  color: #0C5B8A;
}

// layout

.center {
  margin: auto;
  text-align: center;
}

.push-right {
  padding-left: 6rem;
}

.push-left {
  padding-right: 6rem;
}

.contain {
  margin-left: 12rem;
  margin-right: 12rem;
}

.float-left {
  float: left;
  text-align: left;
}

.float-right {
  float: right;
  text-align: right;
}
// buttons

.clear {
  background-color: rgba(0, 0, 0, 0);
}

// panes

.pane {
  position: relative;
  background-size: cover;
  width: 100%;
  padding-top:60px;
  padding-bottom: 60px;
}

// images

.pane-img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
