// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background-image: image-url('header.png');
  margin-top: -2rem;
	padding-bottom: 14em !important;
	padding-top: 14em !important;
  background-repeat: no-repeat;
  background-size: cover;
}


.scrim {
		line-height: 5rem !important;
		margin-top: 5em;
		margin-bottom: 2em;
		padding-left: .1em;
		padding-right: .1em;
        text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
      color: white !important;
      background: transparent\9;
background:rgba(0,0,0,0.1);
border-radius: 5px;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
box-shadow: 0px 5rem 4rem rgba(0,0,0,0.1), 0px -5rem 4rem rgba(0,0,0,0.1);
}

// panels


#centerpanels {
	text-align: center !important;
	font-family: ubuntu, sans-serif;
	font-size: 1.2em;
}


.panel-heading {
	text-align: center;
	}


#left {
  background-color: #ADC18D;
	}

#middle {
	background-color: #fafafa;
	}

#right {
	background-color: #0C5B8A;
	}



.panel-body {
	text-align: left;
	box-shadow: 0px 3px 5px rgba(87, 87, 87, 0.75);
}

.panel-image {
	text-align: center;
}

.lead {
	color: white;
}

.panel {
	width: 100%;
	margin-left: auto;
    margin-right: auto;
}

// images

.small-img {
  height: 180px;
  width: 180px;
  border-radius: 180px;
  display: inline-block;
}

.contact-img {
  height: 120px;
  width: 120px;
  border-radius: 120px;
  display: inline-block;
}

.left-image {
  float: left;
}

.clear {
  clear: both;
}

.inline {
  display: inline;
}

// padding
.btm-pding {
  padding-bottom: 15px;
}
